/guiJava/01Java_Calculator/target/
/04week/notepad/target/
/22GUI Projects/tiktakGameMain/target/
/05week/01ClassWork/target/
/07week/01Classwork6nov/target/
/guiJava/4ButtonswithOkp1/target/
/19Mid Papers (solved)/1Paper 01/paperQuestion1/target/
/guiJava/spanerPass/target/
/guiJava/getUserInputSaveInFileAndDisplay/target/
